//- Все примеси в этом файле должны начинаться c имени блока (form-block)

mixin form-block(items)
	each item in items
		.form-block
			.form-block__inner
				.form-block__content
					h3.form-block__heading!= item.heading
					p.form-block__descr!= item.descr
					p.form-block__agreement.agreement
						| Нажимая кнопку «Отправить» вы соглашаетесь
						br
						|  с 
						a.agreement__link(href='#') Политикой конфиденциальности
						|  и 
						a.agreement__link(href='#') Пользовательским соглашением
				form.form-block__form.form
					+form