footer.footer
	.footer__inner
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12
					.footer__grid
						.footer__logo
							svg
								use(xlink:href='/img/svgSprite.svg#domashka__logo')
						a.footer__social(href='#')
							svg.footer__social-icon
								use(xlink:href='/img/svgSprite.svg#icon__socials_ig')
							p.footer__social-text Подписывайтесь на instagram
						.footer__info
							.footer__info-links
								a.footer__info-link(href='#') Пользовательское соглашение
								a.footer__info-link(href='#') Политика конфиденциальности
							p.footer__info-copy 2021 © Название фирмы