//- Все примеси в этом файле должны начинаться c имени блока (step)

mixin step(items, addClass)
	- addClass = addClass || ''
	each item in items
		.step(class= addClass)
			p.step__number!= item.number
			h3.step__title!= item.title
			p.step__descr!= item.descr
			if item.hasInfo === true
				p.step__info!= item.info
			if item.hasForm === true
				.step__form.form.form_card
					+form